:root{
  --ifm-color-primary-lightest: #DD9762;
  --ifm-color-primary-lighter: #D68344;
  --ifm-color-primary-light: #D47C3A;
  --ifm-color-primary: #c9702c;
  --ifm-color-primary-dark: #B56528;
  --ifm-color-primary-darker: #AB5F25;
  --ifm-color-primary-darkest: #8D4E1F;
}
